{% extends 'base.html' %}


{% block title %}
Edit Email
{% endblock title %}


{% block body %}
    <div class="wrap pos-fixed pos-center">
        <form class="form" method="POST">
            {% csrf_token %}
            <div class="form-header">
                <h3>Email Setup</h3>
                {% if user.email == '' %}
                Add Email
                {% else %}
                <h6>Current: {{user.email}}</h6>
                {% endif %}
                <p>Please enter correct email because it will be used to reset your password if lost.</p>
            </div>
            <div class="form-group">
                <input required type="password" name='pass' data-role="input" placeholder="Enter Password">
                <p class="fg-red">{{help}}</p>
            </div>
            <div class="form-group">
                <input required type="email" name='email' placeholder="New email">
            </div>
            <div class="form-group">
                <button class="form-button" type="submit">Submit</button>
            </div>
        </form>
    </div>

{% endblock body %}
