<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.metroui.org.ua/v4.3.2/css/metro-all.min.css">
    <title>
    {% block title %}
    {% endblock title %}
    </title>
    <style>
        body {
        padding-top: 60px;
    }
    </style>
  </head>
  <body>
    <aside class="sidebar" id="sb1" data-role="sidebar" data-toggle="#sidebar-toggle-1">
        <div class="sidebar-header bg-blue">
            <a href="/" class="fg-white sub-action" onclick="Metro.sidebar.close('#sb1'); return false;">
                <span class="mif-arrow-left mif-2x"></span>
            </a>
            <div class="avatar">
                <img data-role="gravatar" data-email="sergey@pimenov.com.ua">
            </div>
            <span class="title">FUNAPP</span>
            <span class="subtitle"> 2020 © ANUPAM AND RGD</span>
        </div>
        <ul class="sidebar-menu">
            <li><a><span class="mif-home icon"></span>Home</a></li>
            <li><a><span class="mif-books icon"></span>Guide</a></li>
            <li><a><span class="mif-files-empty icon"></span>Examples</a></li>
            <li class="divider"></li>
            <li><a><span class="mif-images icon"></span>Icons</a></li>
        </ul>
    </aside>

    <div data-role="appbar" data-expand-point="md" class="bg-blue">
        <a id="sidebar-toggle-1" class="brand no-hover" style="background-color: #0073ed!important;">
            <span style="width: 55px;" class="p-2 bd-dark border-radius">
                FUN<sup>APP</sup>
            </span>
        </a>
        <ul class="app-bar-menu">
            <li><a href="#">Home</a></li>
            <li><a href="#">Products</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Contacts</a></li>
        </ul>
    </div>
    {% block body %}
    {% endblock body %}
    <script src="https://cdn.metroui.org.ua/v4.3.2/js/metro.min.js"></script>
  </body>
</html>