{% extends 'base.html' %}


{% block title %}
Reset Password
{% endblock title %}


{% block body %}

<style>
.wrap {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form{
    width: 350px;
    margin: 0 auto;
    border: 1px solid #ddd;
    padding: 2rem;
    background: #ffffff;
}
.form-input{
    background: #fafafa;
    border: 1px solid #eeeeee;
    padding: 12px;
    width: 100%;
}
.form-group{
    margin-bottom: 1rem;
}
.form-button{
    background: #69d2e7;
    border: 1px solid #ddd;
    color: #ffffff;
    padding: 10px;
    width: 100%;
    text-transform: uppercase;
}
.form-button:hover{
    background: #69c8e7;
}
.form-header{
    text-align: center;
    margin-bottom : 2rem;
    color : #000000;
}
</style>

    <div class="wrap pos-fixed pos-center">
        <form class="form" method="POST">
            {% csrf_token %}
            <div class="form-header">
                <h3>Reset Password</h3>
            </div>
            <div class="form-group">
                <input type="password" name="pass" placeholder="New Password">
            </div>
            <div class="form-group">
                <input type="password" name="pass2" placeholder="Confirm Password">
            </div>
            <div class="form-group">
                <p class="fg-red">{{help}}</p>
            </div>
            <div class="form-group">
                <button class="form-button" type="submit">Submit</button>
            </div>
        </form>
    </div>
{% endblock body %}
