{% extends 'base.html' %}


{% block title %}
Secret Message
{% endblock title %}


{% block body %}
<script>
    var customButtons = [
        {
            html: "<span class='mif-copy'></span>",
            cls: "Copy",
            onclick: "myFunction()"
        }
    ]
</script>

<div class="dialog" data-role="dialog" id="delall">
    <div class="dialog-title">Delete all messages?</div>
    <div class="dialog-content">This action will delete all messages. Are you sure?</div>
    <div class="dialog-actions">
        <a href="{%url 'delmsg'%}" class="button alert">Yes</a>
        <button class="button" onclick="Metro.dialog.close(delall)">No</button>
    </div>
</div>



<div class="spdiv" style="overflow-x:hidden;">
    <div class="wrapper">
        <h1 class="text-center">MESSAGES RECEIVED
        <a href="{%url 'smsg_index'%}" class="button dark"><span class="mif-refresh icon"></a>
        <button onclick="Metro.dialog.open(delall)" class="button dark"><span class="mif-bin icon"></button>
        </h1>
        <div style="margin-bottom: 50px;">
            <h5>Share this link to receive anonymous messages:</h5>
            <input
                type="text"
                value="https://funapp.pythonanywhere.com/secret_msg/{{request.user.username}}"
                id="myInput"
                data-role="input"
                data-custom-buttons="customButtons"
                data-clear-button="false"
                readonly
            >
        </div>
        {%for message in messages %}
            <div class="speechbubble">
                <p>
                    {{message}}
                    <span class="username">Anonymous</span>
                </p>
            </div>
        {% endfor %}
    </div>
</div>


<script>
function myFunction() {
  var copyText = document.getElementById("myInput");
  copyText.select();
  copyText.setSelectionRange(0, 99999);
  document.execCommand("copy");

  var tooltip = document.getElementById("myTooltip");
  tooltip.innerHTML = "Copied: " + copyText.value;
}

function outFunc() {
  var tooltip = document.getElementById("myTooltip");
  tooltip.innerHTML = "Copy to clipboard";
}
</script>

{% endblock body %}
